* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#criar-carta {
  padding: 2em;
}

.newspaper {
  background-color: antiquewhite;
  font-family: '"Times New Roman"', Times, serif;
  font-weight: 700;
}
